@import '../sass/variables';

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;

  max-width: 150rem;
  margin: auto;
}

.main {
  background-color: $white-1;
  min-height: calc(100vh - 7.5rem);
  margin-top: 7.5rem;
}